.add-time-slot {
    max-width: 640px;
    margin: 0 auto;
}

.add-time-slot__slots {
    margin: 1em auto;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 1em;
    
    @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 16px;
    }
}

.add-time-slot__label,
.add-time-slot__input,
.form-control {
    display: block;
    width: 100%;
}

.add-time-slot__label {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.5em;
    color: #6A7988;
}

.add-time-slot__input, .form-control {
    padding: 1.6em 1em;
    background: #fff;
    margin-bottom: 1em;
}

.add-time-slot__btn {
    padding: 1.2em 1em;
    background: #189F97;
    color: #fff;
    font-weight: bold;
    margin: 0 auto;
}